body{
  margin: 0;
  padding: 0;
  /* font-family: 'Montserrat', sans-serif; */
}

.bg{
  background-color: #fff;
  background-image: url(../img/bg4M.jpg);
  background-repeat: no-repeat;
  background-position: 30% 40%; /* Horizontal - Vertical */
  background-size: cover;
  padding:40px 15px 0 15px;
}

.height-15{
  height: 15px;
}

@media screen and (max-width: 768px) {
  .bg{
    background-image: url(../img/bg4S.jpg);
  }
  #videoframe, .footer-logo{
    display: none;
  }
  .media-left img{
    width: 80px;
	height: 80px;
  }
}

.inner-nav{
  padding-top:10px;
  border-bottom-width: 3px;
  background-color: transparent;
}

.navbar{
	border-radius:0;
}

.bg .btn-link{
	color:#5CB85C;
}

.bg .jumbo{
	padding:50px 0 50px 0;
}

.bg .jumbo h2{ color: #21A2B8; }

.jumbotron{
  background-color: #fff;
}

.jumbotron p{
  
}

.second-tag{
  padding:0 0 15px 0;
  text-align: center;
}

.ash{
  background-color: #eee;
}

h2.pad-bottom{
  padding-bottom: 50px;
}

.share{
  padding-top: 20px;
}

.footer{
	padding:50px 0 50px 0;
}

.inner-footer{
  font-size: 12px;
  color: #fff;
  padding: 15px 0 7px 0;
  background-color: #3e4753;
  border-top: solid 1px #777; 
}

.inner-footer a{
  color: #72c02c;
}

.inner-footer a:hover{
  color: #a8f85f;
}